$width: 220px;
$height: 260px;

.entityCardWrapper {
  cursor: pointer;
  width: $width;

  .entityCard {
    height: $height;
    position: relative;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--card-subtle);
  }

  &:hover {
    .entityCard {
      background: var(--card-subtle-hover);
    }
  }
}
