$width: 220px;
$height: 260px;
$listHeight: 120px;

.entityGridCardWrapper {
  cursor: pointer;
  width: $width;

  .entityGridCard {
    height: $height;
    position: relative;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--card-subtle);
  }

  &:hover {
    .entityGridCard {
      background: var(--card-subtle-hover);
    }
  }
}

.commentField {
}

.entityListCardWrapper {
  height: $listHeight;
  width: $listHeight;
  position: relative;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: top;
  gap: 0px;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: var(--card-subtle);

  &:hover {
    background: var(--card-subtle-hover);
  }

  .editButton {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .listCardIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }

  .listCardContent {
    padding: 20px 0;
  }

  .entityListCard {
    position: relative;
    align-items: center;
    justify-content: center;
  }
}
