$width: 220px;
$height: 260px;
$listItemHeightWhenSorting: 90px;

.entityGridCardWrapper {
  cursor: pointer;
  width: $width;

  .entityGridCard {
    height: $height;
    position: relative;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    background-color: var(--card-subtle);
  }

  &:hover {
    .entityGridCard {
      background: var(--card-subtle-hover);
    }
  }
}

.commentField {
  color: var(--mantine-color-dimmed) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  [data-sorting='true'] & {
    display: none;
  }
}

.actionButtons {
  position: absolute;
  right: 10px;
  top: 10px;
}

.entityListCardWrapper {
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 0px;
  padding-right: 80px;
  flex-shrink: 0;
  border-radius: 12px;
  background-color: var(--card-subtle);

  [data-sorting='true'] & {
    height: $listItemHeightWhenSorting;
    cursor: move;
    .actionButtons {
      display: none;
    }
  }

  &.entityListCreateCardWrapper {
    align-items: center;
  }

  &:hover {
    background: var(--card-subtle-hover);
  }

  .listCardIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80px;
    padding: 20px 0;
    border-right: 1px solid rgba(255,255,255,.03);
  }

  .listCardContent {
    padding: 20px;
    font-family: 'Source Serif', Georgia, serif;
    line-height: 1.55;
    font-weight: 400;
    letter-spacing: -0.003em;
  }

  .entityListCard {
    position: relative;
    align-items: center;
    justify-content: center;
  }
}
