// src/ui/common/inputs/Select.module.scss

.selectInput {
  background-color: transparent !important;
  border-color: var(--mantine-color-dark-6) !important;
}

.selectDropdown {
	border-radius: 8px !important;
}

.wrapper {
  .description {
    opacity: 0.3;
    transition: opacity 120ms ease;
  }

  &:focus-within,
  &:hover {
    .description {
      opacity: 1;
    }
  }
}