:root[data-mantine-color-scheme='light'] {
  --bg-main: rgba(255, 255, 255, 1);

  --bg-meta-editor: rgba(255, 246, 240, 1);
  --bg-meta-editor-faded: rgba(255, 246, 240, .8);
  --bg-meta-editor-transparent: rgba(255, 246, 240, 0);
  --meta-overlay: rgba(255, 255, 250, .94);

  --bg-prose-editor: rgba(245, 245, 245, 1);
  --bg-prose-editor-faded: rgba(245, 245, 245, .8);
  --bg-prose-editor-transparent: rgba(245, 245, 245, 0);
  --prose-overlay: rgba(255, 255, 255, .94);

  --text: #1a1715;
  --border-subtle: rgba(15, 23, 42, 0.05);

  --bg-sidebar: rgba(239, 239, 239, 1);
  &[data-editor-mode='meta'] {
    --bg-sidebar: rgba(249, 239, 235, 1);
  }

  --divider-color: rgba(0,0,0,0.05);
}

:root[data-mantine-color-scheme='dark'] {
  --bg-main: rgba(27, 27, 31, 1);

  --overlay: rgba(20, 20, 23, 1);
  --overlay-hover: rgba(23, 23, 26, 1);

  --bg-meta-editor: rgba(30, 24, 20, 1);
  --bg-meta-editor-faded: rgba(30, 24, 20, .8);
  --bg-meta-editor-transparent: rgba(30, 24, 20, 0);
  --meta-overlay: rgba(22, 18, 15, .94);
  --meta-underlay: rgba(34, 28, 24, .94);

  --bg-prose-editor: rgba(16, 24, 39, 1);
  --bg-prose-editor-faded: rgba(16, 24, 39, .8);
  --bg-prose-editor-transparent: rgba(16, 24, 39, 0);
  --prose-overlay: rgba(12, 18, 34, .94);

  --text: #efefef;
  --text-subtle: rgba(255, 255, 255, .6);

  --border-subtlest: rgba(148, 163, 184, 0.05);
  --border-subtle: rgba(148, 163, 184, 0.25);

  --bg-sidebar: rgba(255, 255, 255, .02);

  --aside-input: rgba(255,255,255,.02);
  --aside-bubble: rgba(0,0,0,.1);
  --aside-button-disabled: rgba(0,0,0,.15);
  --aside-button: rgba(255,255,255,.09);

  &[data-editor-mode='meta'] {
    --bg-sidebar: rgba(26, 20, 16, 1);

    --bg-editor: rgba(30, 24, 20, 1);
    --bg-editor-faded: rgba(30, 24, 20, .8);
    --bg-editor-transparent: rgba(30, 24, 20, 0);
    --editor-overlay: rgba(22, 18, 15, .94);
    --bg-editor-aside: rgba(34, 28, 24, .94);
  }

  &[data-editor-mode='prose'] {
    --bg-sidebar: rgba(12, 18, 34, 1);

    --bg-editor: rgba(16, 24, 39, 1);
    --bg-editor-faded: rgba(16, 24, 39, .8);
    --bg-editor-transparent: rgba(16, 24, 39, 0);
    --editor-overlay: rgba(12, 18, 34, .94);
    --bg-editor-aside: rgba(18, 28, 43, 1);
  }

  .entityCard {
    &:hover {
      background: var(--overlay-hover) !important;
    }
  }
}