// src/components/common/inputs/TextInput.module.scss

.textInput {
  background-color: transparent !important;
  border-color: var(--mantine-color-dark-6) !important;
}

.textInputSection {
  [data-error="true"] &,
  [counter="true"] & {
    --input-right-section-size: auto;
    margin-right: 10px;
  }
}

.wrapper {
  .description {
    opacity: 0.3;
    transition: opacity 120ms ease;
  }

  &:focus-within,
  &:hover {
    .description {
      opacity: 1;
    }
  }
}